.img{
    width: 100%;
    height: 550px;
}
.img img{
    width: 100%;
    height: 550px;
    cursor: pointer;
    transform: scale(1);
}
.img img:hover{
    transform: scale(1.08);
}
.top{
    width: 100%;
    height: 550px;
    z-index: 1;
    position:absolute;
}

.bottomlist{
    width: 100%;
    height: 250px;
    /* background-color: aqua; */
    z-index: 10;
    position:absolute;
}
.btmimg1{
    width: 25%;
    height: 200px;
    float: left;
    margin-left: 10%;
}
.btmimg2{
    width: 25%;
    height: 200px;
    float: left;
    margin-left: 2%;
}
.btmimg3{
    width: 25%;
    height: 200px;

    float: left;
    margin-left: 2%;
}
.tittlelist{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    margin-top: 550px;
}
.tit-1{
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 10%;
    background-color:yellow;
    line-height: 40px;
}
.tit-2{
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 2%;
    background-color: yellow;
    line-height: 40px;

}
.tit-3{
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 2%;
    background-color: yellow;
    line-height: 40px;

}