@charset "utf-8";
* {
    -webkit-touch-callout: none;
}

h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, fieldset, legend {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-style: normal;
    border: none;
    outline: none;
}
.Prompt-1 {
    width: 60%;
    height: 30px;
    margin-left: 20%;
    background-color: #545c64;
    text-align: center;
}

.font-1 {
    color: rgb(233, 225, 179);
    font-size: 25px;
    font-family: sans-serif;
}

.flower-line {
    width: 90%;
    margin-left: 5%;
    height: 300px;
}

.flower-1 {
    width: 20%;
    height: 300px;
    float: left;
    margin-left: 50px;
}

.flower-line-2-left {
    width: 65%;
    margin-left: 10%;
    height: 500px;
    /* background-color: #429eff; */
    float: left;
}

.flower-line-2-right {
    width: 13%;
    margin-left: 2%;
    height: 500px;
    float: left;
    margin-right: 10%;
}

.flower-des-1 {
    width: 48%;
    height: 48%;
    float: left;
    cursor: pointer;
}

.flower-des-2 {
    width: 48%;
    height: 48%;
    float: left;
    margin-left: 4%;
    cursor: pointer;
}

.flower-des-3 {
    width: 48%;
    height: 48%;
    float: left;
    margin-top: 2.5%;
    cursor: pointer;
}

.flower-des-4 {
    width: 48%;
    height: 48%;
    float: left;
    margin-left: 4%;
    margin-top: 2.5%;
    cursor: pointer;
}

.font-des-top {
    width: 100%;
    height: 23%;
    /* background-color: #429eff */
}

.font-des {
    width: 100%;
    height: 23%;
    margin-top: 3%;
    /* background-color: #429eff */
}

/* banner轮播图 */
#slideShowContainer {
    width: 98%;
    height: 650px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#slideShowContainer img {
    width: 100%;
    height: 650px;
    /*transform: scale(1.08);*/
}

.picUl {
    padding-left: -40px;
    list-style: none;
}

#dotUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 15px;
    left: 47.5%;
    z-index: 2;
}

.selected {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    color: transparent;
    margin-left: 9px;
    border-radius: 8px;
}

.unselected {
    width: 12px;
    height: 12px;
    background-color: gray;
    color: transparent;
    margin-left: 9px;
    border-radius: 8px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*banner轮播结束*/