@charset "utf-8";
* {
    -webkit-touch-callout: none;
}

h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, fieldset, legend {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-style: normal;
    border: none;
    outline: none;
}

.contentDiv {
    width: 98%;
    height: 1000px;
    margin: 0 auto;
}

.height300div {
    width: 100%;
    height: 300px;
}

.width25left {
    width: 25%;
    height: 100%;
    float: left;
}

.width25left img {
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    cursor: pointer;
}

.width25left p {
    width: 90%;
    height: 25%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    cursor: pointer;
}